In [1]:
import pandas as pd
from src.logic_gates import *

In [2]:
def and_into_inverse(x, y):
    z = inverter(and_gate(x, y))
    return (z,)


get_results_df(and_into_inverse, ["z"])

   x  y  z
0  0  0  1
1  0  1  1
2  1  0  1
3  1  1  0

In [3]:
def ors_into_and(v, w, x, y):
    a = or_gate(v, w)
    b = or_gate(x, y)
    z = and_gate(a, b)
    return a, b, z


get_results_df(ors_into_and, ["a", "b", "z"])

    v  w  x  y  a  b  z
0   0  0  0  0  0  0  0
1   0  0  0  1  0  1  0
2   0  0  1  0  0  1  0
3   0  0  1  1  0  1  0
4   0  1  0  0  1  0  0
5   0  1  0  1  1  1  1
6   0  1  1  0  1  1  1
7   0  1  1  1  1  1  1
8   1  0  0  0  1  0  0
9   1  0  0  1  1  1  1
10  1  0  1  0  1  1  1
11  1  0  1  1  1  1  1
12  1  1  0  0  1  0  0
13  1  1  0  1  1  1  1
14  1  1  1  0  1  1  1
15  1  1  1  1  1  1  1

In [4]:
def xor_into_and(x, y, z):
    a = xor_gate(x, y)
    q = and_gate(a, z)
    return a, q


get_results_df(xor_into_and, ["a", "q"])

   x  y  z  a  q
0  0  0  0  0  0
1  0  0  1  0  0
2  0  1  0  1  0
3  0  1  1  1  1
4  1  0  0  1  0
5  1  0  1  1  1
6  1  1  0  0  0
7  1  1  1  0  0